@import 'utilities.css';


#click{
	display: none;
}



:root{
	--primary:#3DCFD3;
	--dark:#161616;
	--pure: #FFFFFF;
	--ternary: #898989;
	--light:#F2F2F2;
}

body{
	font-family: 'Poppins', sans-serif;
	
	background-color: #161626;
	
}



html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

header{
	background: #161619;
	height: 650px;

	clip-path: polygon(0 0,100% 0, 100% 100%,70% 87%,0 100%);
}
.icons{
	margin-top: 200px;
	margin-left: 15px;
	position: fixed;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.icons img{
	background: transparent;
	margin-bottom: 10px;
	padding: 5px 5px;
	width: 50px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.icons img:hover{
	box-shadow: 0 0 8px #3DCFD3;
	opacity: 80%;
}

.container{
	max-width: 1152px;
	padding: 0 15px;
	margin: 0 auto;
	background: #161619;

}

.toggle{
	width: 100%;
	padding: 10px 20px;
	text-align: right;
	background-color: #161619;
	display: none;


}
.tog_bar{
	width: 23px;
	cursor: pointer;
	
}

header nav{
	margin-left: 150px;
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}


header .left a{
	color: white;
	text-decoration: none;
	margin-right: 2rem;
	text-transform: uppercase;
	transition: all .3s ease;

	
}
header .left a:hover{
	color: var(--primary);
}





.vaibhav .left img{
	width: 300px;
	height: 300px;
	border-radius: 400px;
	
}
.vaibhav{
	display: flex;
	
	align-items: center;
	justify-content: space-between;
}

.vaibhav .left{
	margin-top: 10px;
	margin-left: 150px;
	height:400px;
	padding: 10px 10px;
	border-radius: 10px;
	transition: all 0.1s ease;
}



.vaibhav .left:hover{
	
	box-shadow: 0 0 18px #3DCFD3;

	
}
.vl {
  border-left: 3px solid white;
  height: 190px;
  position: fixed;
  
  margin-left: 37px;
  top: 0;
  z-index: 99;
}
.box {
  width: 82px;
  background-color: #161619;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 98;
}




.vaibhav .right{
	color:white;
	margin:0 50px;
	
	
	
}
.vaibhav .right h6{
	
	font-size: 1.6rem;
	margin-bottom: 0.5rem;
	color: var(--primary);
	
}

.vaibhav .right p{
	line-height: 1.9;
	margin-bottom: 2rem;
}


.img_overlay{
	margin-left: 5px;
	margin-bottom: 5px;
	color: #DADADA;
	opacity: 0;
}
.vaibhav .left:hover .img_overlay{
	opacity: 1;
}

.img_title{
	font-size: 23px;
	font-weight: 900px;
	color: white;
	
}

.descrp{
	font-size: 13px;
}
.addrs{
	font-size: 13px;
	color: #ccffff;
}

section{
	height: 600px;

}

.about .rotate {
	position: relative;
	opacity: 50%;
	margin-left: 860px;
	margin-top: -1400px;
  	animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.about{
	width: 700px;
	margin: 100px 300px;
}

.about h1{
	margin-bottom: 18px;
	font-size: 27px;
	color: white;

}
.about h1 span{

	color: var(--primary);
}

.about h3{
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 400;
	color: white;
}
.about p{
	font-family: 'Lato', sans-serif;
	color: var(--ternary);
	line-height: 1.9;
}
.about p strong{
	color: var(--primary);
}
.about p span{
	color: white;
}

.projects{
	height: 900px;
	display: flex;
}
.projects .left{
	padding-left: 150px;
	padding-top: 100px;
}

.projects .left h1{
	line-height: 0.82;
	font-size: 70px;
	font-weight: bolder;
	color: white;
}
.projects .left h1 span{
	color: var(--primary);
}

.projects .left h6{
	font-size: 15px;
	color: var(--primary);
}
.projects .left p{
	font-size: 30px;
	font-weight: bold;
	line-height: 0.85;
	color:var(--ternary);
}
.projects .left p span{
	color: var(--primary);
	font-weight: bolder;
}
.projects .left .arrow{
	position: relative;
	width: 80px;
	margin-left: 350px;
	animation: back_forth 2s infinite linear;
}

@keyframes back_forth {
  0% {
  	left: 0px;
  }
  50% {
  	left: 50px;
  }
  100%{
  	left: 0px;
  }
}

.projects .right .prolist{
	display: grid;
	
}

.pro-list{
	position: relative;
	left: 100px;

}

.pro1 img{
	width: 400px;
	height: 280px;
	border-radius: 10px;
	box-shadow: 0 0 88px black;
}

.pro2 img{
	width: 400px;
	height: 275px;
	margin-top:-50px;
	margin-left: 180px;
	border-radius: 10px;
	box-shadow: 0 0 88px black;
}
.pro-list img:hover{
	
	transform: scale(1.08);

	box-shadow: 0 0 18px white ;
	transition: all 0.3s ease;
}




.connect{
	height:450px;
	margin-left: 250px;
	margin-top: 100px;
	display: flex;
}
.connect h1{
	line-height: 0.82;
	font-size: 50px;
	font-weight: bolder;
	color: white;
}

.connect p{
	line-height: 0.82;
	font-size: 70px;
	font-weight: bolder;
	color: white;
}
.connect p span{
	color: var(--primary);
}

.arrowleft{
	position: relative;
	width: 85px;
	margin-left: -100px;
	top: -80px;
	animation: left_right 1.5s infinite linear;
}

@keyframes left_right{
  0% {
  	left: 0px;
  }
  50% {
  	left: -50px;
  }
  100%{
  	left: 0px;
  }
}

.connect .shake img{
	height: 300px;
	margin-left: 200px;
	margin-top: -50px;
	
}

.ending p{
	font-weight: 4px;
	margin-left: 600px;
	color: white;
	margin-top: -12px;
}

.ending p span{
	color: var(--primary);
}

.hl1{
	border-top: 1px solid white;

    width: 360px;
  	opacity: 70%;
  	margin-left: 200px;
  	margin-top:-50px;
  	z-index: 99;
}

.hl2{
	border-top: 1px solid white;

    width: 350px;
  	opacity: 70%;
  	margin-left: 860px;
  	margin-top:-12px;
  	z-index: 99;
}

